
@import "components/form.scss";
@import "components/modal.scss";

body{
  white-space: pre-line;
}

.main-layout {
  margin-top: 50px;
}

.lecturer-table {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  border: 1px solid #ddd;
}

.manageDiv {
  display: -webkit-box;
  margin: 30px 0;
  padding: 20px 20px 20px 20px;
  border: 1px solid;
  border-left-width: 5px;
  border-color: #abdf5d;
  border-left-color: #6b9e1f;
  color: #141e06;
  background-color: #d7f0b3;
  position: relative;
  z-index: 10;
}
.close {
  display: none;
}

.manage-signup,
.change-contact {
  margin-left: 10px;
  margin-right: 30px;
}

.manage-Btn{
  background: #fff;
  border: 1px solid #587A9E;
  color: #222 !important;
  cursor: pointer;
  display: inline-block;
  font-family: "Noto Sans","Helvetica Neue",Arial,sans-serif;
  font-size: 12px;
  letter-spacing: 0.8px;
  line-height: 18px;
  margin: 0.5em 0.8em 0.5em 0;
  padding: 0.4em 0.8em 0.45em 0.8em;
  text-decoration: none !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  margin-left: 10px;
}

.change-contact-Btn{
    background: #fff;
    border: 1px solid #587A9E;
    color: #222 !important;
    cursor: pointer;
    display: inline-block;
    font-family: "Noto Sans","Helvetica Neue",Arial,sans-serif;
    font-size: 12px;
    letter-spacing: 0.8px;
    line-height: 18px;
    margin: 0.5em 0.8em 0.5em 0;
    padding: 0.4em 0.8em 0.45em 0.8em;
    text-decoration: none !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    right: 10px;
}

.filter-div {
  display: flex;

  .select {
    margin: 0 10px 30px 10px;
    width: 33%;
  }
}

.list-config {
  position: relative;
  display: flex;
}

.pagination {
  display: inline-block;
  position: absolute;
  right: 10px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #036;
  color: white;
  border: 1px solid #036;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.disabled {
  pointer-events: none;
  color: grey !important;
}

.filter-container {
  margin: 50px 0 20px 0;
  display: flex;
}

.filterwrapper {
  width: 32%;
  margin: 5px 5px;
}

.userid {
  color: #F1F1F1;
}